<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <router-link :to="{ name: 'HomePage' }"><v-btn>홈</v-btn></router-link>
      </div>
      <v-spacer></v-spacer>

      <router-link :to="{ name: 'ChanPage' }"><v-btn>찬호</v-btn></router-link>
      <router-link :to="{ name: 'KangPage' }"><v-btn>성진</v-btn></router-link>
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    //
  })
};
</script>
